<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <%= partial "partials/site_header" %>

    <main class="p-site-container c-site-main" role="main">
      <%= yield %>
    </main>

    <%= partial "partials/site_footer" %>
    <%= partial "partials/analytics" %>
  </body>
</html>
