<footer class="c-site-footer" role="contentinfo">
  <div class="p-site-container">
    <p>&copy; 2014&thinsp;&ndash;&thinsp;<%= Date.today.year %> AccessLint</p>

    <ul>
      <li>
        <%= link_to(
          "Privacy Policy",
          "https://github.com/accesslint/policies/blob/master/PRIVACY.md",
          target: "_blank"
        ) %>
      </li>
      <li>
        <%= link_to "Twitter", "https://twitter.com/accesslint" %>
      </li>
      <li>
        <%= link_to "Slack Community", "http://slack.accesslint.com/" %>
      </li>
      <li>
        <%= mail_to support_email, support_email %>
      </li>
    </ul>
  </div>
</footer>
