<% content_for :title, "Blog" %>

<% content_for :head do %>
  <link rel="alternate"
        type="application/rss+xml"
        href="<%= URI.join(ENV.fetch("URL"), "blog/feed.xml") %>">
<% end %>

<h1>Blog</h1>

<% blog.articles.each do |article| %>
  <article>
    <h2>
      <a href="<%= article.url %>"><%= article.title %></a>
    </h2>

    <time datetime="<%= article.date.strftime("%Y-%m-%d") %>">
      <%= article.date.strftime("%B %e, %Y") %>
    </time>

    <%= article.body %>
  </article>
<% end %>
